/*animatie klassen*/
.linksAnim{
	animation: links .75s ease forwards;
}
.rechtsAnim{
	animation: rechts .75s ease forwards;
}
.opAnim{
	animation: opkomend 1s ease forwards;
}
.draaiAnim{
	animation-delay: 0.5s;
	animation: draai 1s ease forwards;
}
.popAnim{
	animation: pop 1s both;
}
.clear{
	animation: vergroot 1s both;
}
.button{
	width:100px;
	margin:5px;
	font-size: 15px;
	outline: none;
	border: none;
	padding: 10px;
	color: #fff;
	background-color: #64b0f4;
	cursor: pointer;
}
/*profiel*/
.infovak{
	width: 500px;
	height: 200px;
	margin-bottom: 20px;
}
.infovak h3{
	border-bottom: 2px solid darkgrey;
    margin: auto;
    width: max-content;
}
.skillvak{
	width: 220px;
	margin: 0 10px;
}
.skillvak h2 p{
	animation-delay: 5s;
	animation: opkomend 1.4s ease forwards;
}
.tijdlijn{
  content: '';
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  margin-left: 20%;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 250px;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #60b0f4;
  top: 30px;
  left: -54px;
  border-radius: 50%;
  z-index: 1;
}


/*tools*/

.kennis{
    padding: 10px;
    border-radius: 35px;
    background: #64b0f4;
    color: #fff;
    margin: 5px;
}


/*portfolio*/
.kaartLijst{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.kaart{
	width: 350px;
	height: 300px;
	background-color: grey;
	background-position: center;
	animation: clear .5s both;
}
.hover{
	color: #64b0f4;
	padding-top: 15px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: all .5s ease-in-out;
}
.portBtn{
    border: 2px solid #64b0f4;
    padding: 10px;
    width: fit-content;
    margin: auto;
}
.beschrv{
	font-size: 1em;
    color: darkgrey;
}
.kaart:hover{
		background:#434141 !important;
}
.hover:hover{
	    transform: translateY(40px);
		opacity: 1;
}

/*form*/
form{
	display: flex;
    margin: 0 auto;
	flex-direction: column;
	max-width: 500px;
}
input{
	margin-bottom:5px ;
	width: 100%;
	outline: none;
	border:none;
	color: #434141;
	padding: 10px;
	font-size:15px;
	background-color: lightgrey;
}
textarea{
	outline: none;
	border:none;
	width: 100%;
	background-color: lightgrey;
	padding: 10px;
	font-size:15px;
	color: #434141;
}
input[type="submit"]{
	width:200px;
	color: #fff;
	margin: 5px auto;
	background-color: #64b0f4;
	cursor: pointer;
}
/*footer*/
footer{
	height: 300px;
	background-color: #434141;
}

/*animaties*/
@keyframes opkomend{
	0%{
		transform: translateY(300px);
		opacity: 0;
	}
	100% {
	    transform: translateY(0);
	    opacity: 1;
	}
}
@keyframes links{
	0% {
    opacity: 0;
	    transform: translateX(-300px);
	}
	100% {
	    opacity: 1;
	    transform: translateX(0);
	}
}
@keyframes rechts{
	0% {
    opacity: 0;
	    transform: translateX(300px);
	}
	100% {
	    opacity: 1;
	    transform: translateX(0);
	}
}
@keyframes pop{
	0% {
	    transform: scale(0);
	}
	60% {
	    opacity: 1;
	    transform: scale(1.05);
	}
	80% {
	    transform: scale(0.95);
	}
	100% {
	    transform: scale(1);
	    opacity: 1;
	}
}
@keyframes clear{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
		opacity: 0;
		display: none;
		width: 0;
	}
}
@keyframes vergroot{
	0%{
		display: inline-block;
		transform: scale(0);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;

	}
}

@keyframes draai{
	0% {
	    -webkit-transform: perspective(400px) rotateY(90deg);
	    transform: perspective(400px) rotateY(90deg);
	    -webkit-animation-timing-function: ease-in;
	    animation-timing-function: ease-in;
	    opacity: 0;
	}
	40% {
	    -webkit-transform: perspective(400px) rotateY(-20deg);
	    transform: perspective(400px) rotateY(-20deg);
	    -webkit-animation-timing-function: ease-in;
	    animation-timing-function: ease-in;
	}
	60% {
	    -webkit-transform: perspective(400px) rotateY(10deg);
	    transform: perspective(400px) rotateY(10deg);
	    opacity: 1;
	}
	80% {
	    -webkit-transform: perspective(400px) rotateY(-5deg);
	    transform: perspective(400px) rotateY(5deg);
	}
	100% {
	    -webkit-transform: perspective(400px);
	    transform: perspective(400px);
	    opacity: 1;
	}
}
@media screen 
  and (min-width: 769px){
  	/*tijdlijn brede schermen*/
    .Lcontainer {
	  padding: 10px 40px;
	  position: relative;
	  background-color: inherit;
	  width: 250px;
	  margin-left: -400px;
	}
	.Lcontainer::after {
	  content: '';
	  position: absolute;
	  width: 25px;
	  height: 25px;
	  background-color: white;
	  border: 4px solid #60b0f4;
	  top: 30px;
	  left:unset;
	  right: -50px;
	  border-radius: 50%;
	  z-index: 1;
	}
  	.tijdlijn{
  		margin-left: 50%;
  	}
  	nav img{
	    transform: scale(1.6);
	    padding-left: 20px;
  	}
  }